#who-1{
    margin-left: 6px;
    margin-top: -322px;
   width: 100%;
 
}
.fix-onim{
    font-size: 20px;
    margin-bottom: 1000px;
    margin-top: -585px;
    margin-left: 58px;
}
#Second-image-2{
    margin-bottom: 0px;
  
}
#im-2{
    margin-top: 62px;
    border-radius: 1px;
    margin-bottom: 100px;
}
.col-text{
    
    text-align: center;
    font-size: 50px;
    top: 279px;
    position: absolute;
    mix-blend-mode: color-dodge;

}
.val{
    font-size: 70px;
}
.val-2{
    font-size: 15px;
    margin-left: 460px;
    line-height: 1.5;
}
.vl-1{
    margin-left: 30px;
}
.val-3{
    margin-top: 10px;
    margin-bottom: 10px;    
}
#val-4{
    font-size: 30px;
    margin-bottom: 10px;
}
#qe-1{
    font-size: 15px;
  margin-left: -66px;
  margin-top: 20px;
}
#io{
    margin-top: 19px;
    margin-bottom: 25px;
    margin-right: 836px;
}
.div-10
{
    margin-left:900px;
    margin-top: -900px;
}
.vl-5{
    margin-top: 10px;
    font-size: 30px;
}
.fix-1{
    font-size: 15px;
    margin-top: 26px;
    line-height: 1.3;
}
#fix-2{
    margin-top: 30px;
    margin-bottom: 17px;
}
#is{
    margin-top: 23px;
    margin-right: 31px;
}
.div-11{
    margin-left: 913px;
    margin-top: -31px;
}
.fix-2{
    margin-top: 26px;
  margin-right: 10px;
  line-height: 1.4;
  font-size: 15px;
  margin-left: -9px;
}
.div-12{
    margin-left: 920px;
    margin-top: -32px;
}
.fix-3{
    margin-top: 30px;
    margin-right: 10px;
    line-height: 1.4;
    font-size: 15px;
}
.div-13{
    margin-left: 928px;
    margin-top: -35px;
}
.fix-4{
    line-height: 1.4;
  font-size: 15px;
  margin-left: -50px;
  margin-top: 14px;
}
.div-14{
    margin-left: 928px;
    margin-top: -32px;
}
.fix-5{
    line-height: 1.4;
    font-size: 15px;
    margin-left: -100px;
    margin-top: 17px;   
}