.image-data-Ai{
    margin-left: 500px;
    font-size: 56px;
    margin-top: -125px;
}
.image-data-Ai-2{
    margin-left: 513px;
    font-size: 26px;
    margin-top: 28px;
}
.data-backgrouond-Ai{
    margin-top: -200px;
    font-size: 100px;
    color: black;
    margin-bottom: 200px;
}
#second-background{
  height: 600px;
}
#mob-image{
    
}
